{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<style>
    label {
    margin-bottom: 5px;
    color: #666;
    text-align: left;
    font-weight: bold;
    display: block;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Custom styling for checkbox */
input[type="checkbox"] {
    width: auto;
    margin-right: 10px; /* Adds space between checkbox and label */
    vertical-align: middle; /* Ensures the checkbox aligns with text */
    transform: scale(1.2); /* Increases the size of the checkbox */
}

input[type="checkbox"]:checked {
    background-color: #007bff; /* Changes color when checked */
    border-color: #007bff; /* Changes border color when checked */
}

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a focus effect */
}
#id_user_access_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Two columns */
  gap: 15px;
}

#id_user_access_list label {
  grid-column: span 1;
}

#id_user_access_list input {
  grid-column: span 1;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.form-row label {
    grid-column: span 1;
}

.form-row input {
    grid-column: span 1;
}

</style>
<div class="dashboard-main-body">
  {% include 'message.html' %}
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Add New Employee Form</h6>
  
</div>
    
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Employee Information</h5>
          </div>
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-row">
                    {% comment %} {{form.media}} {% endcomment %}
                    {{form.media}}
                    {{form}}
                    <div class="col-12 pt-1">
                        <button type="submit" class="btn btn-success-600 mt-4">Add Employee</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    
{% endblock content %}
    