{% extends 'master/base.html' %}
{% load static %}

{% block content %}
<div class="dashboard-main-body">

    <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
  <h6 class="fw-semibold mb-0">Add New Employee Form</h6>
  
</div>
    
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title mb-0">Employee Information</h5>
          </div>
          <div class="card-body">
            <form class="row gy-3 needs-validation" novalidate>
              <div class="col-md-6">
                <label class="form-label">Full Name</label>
                <div class="icon-field has-validation">
                  <span class="icon">
                    <iconify-icon icon="f7:person"></iconify-icon>
                  </span>
                  <input type="text" name="#0" class="form-control" placeholder="Enter Full Name" required>
                  <div class="invalid-feedback">
                    Please provide full name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Role</label>
                <div class="icon-field has-validation">
                  <span class="icon">
                    <iconify-icon icon="f7:person"></iconify-icon>
                  </span>
                  <input type="text" name="#0" class="form-control" placeholder="Enter Last Name" required>
                  <div class="invalid-feedback">
                    Please provide last name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Email</label>
                <div class="icon-field has-validation">
                  <span class="icon">
                    <iconify-icon icon="mage:email"></iconify-icon>
                  </span>
                  <input type="email" name="#0" class="form-control" placeholder="Enter Email" required>
                  <div class="invalid-feedback">
                    Please provide email address
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Phone</label>
                <div class="icon-field has-validation">
                  <span class="icon">
                    <iconify-icon icon="solar:phone-calling-linear"></iconify-icon>
                  </span>
                  <input type="text" name="#0" class="form-control" placeholder="+1 (555) 000-0000" required>
                  <div class="invalid-feedback">
                    Please provide phone number
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Address</label>
                <div class="icon-field has-validation">
                  <span class="icon">
                    <iconify-icon icon="f7:person"></iconify-icon>
                  </span>
                  <input type="text" name="#0" class="form-control" placeholder="Enter Last Name" required>
                  <div class="invalid-feedback">
                    Please provide last name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="form-label">Medium Size File Input </label>
                <input class="form-control" type="file" name="#0" required>
                <div class="invalid-feedback">
                  Please choose a file.
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary-600" type="submit">Submit form</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    
{% endblock content %}
    