{% extends 'master/base.html' %}
{% load static %}
{% block content %}
<div class="dashboard-main-body">

  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">Employee List</h6>
    <a href="{% url 'add_employee' %}"
        class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2">
        <iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>
        Add New Employee
      </a>
  </div>

  <div class="card basic-data-table">
    <div
      class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
      <div class="d-flex align-items-center flex-wrap gap-3">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
    <div class="card-body">
      <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
        <thead>
            <tr>
                <th scope="col">
                    <div class="form-check style-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">S.L</label>
                    </div>
                </th>
                <th scope="col">EID No</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Contact</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>
                    <div class="form-check style-check d-flex align-items-center">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">{{ forloop.counter }}</label>
                    </div>
                </td>
                <td><a href="javascript:void(0)" class="text-primary-600">#{{ employee.employee_user.username }}</a></td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="{{ employee.employee_picture.url }}" alt="Profile" class="flex-shrink-0 me-12 radius-8" width="40">
                        <h6 class="text-md mb-0 fw-medium flex-grow-1">{{ employee.employee_name }}</h6>
                    </div>
                </td>
                <td>{{ employee.employee_user.role }}</td>
                <td>{{ employee.employee_contact }}</td>
                <td>{{ employee.employee_user.email }}</td>
                <td>
                    <a href="{% url 'update_employee' employee.pk %}"
                        class="w-32-px h-32-px bg-success-focus text-success-main rounded-circle d-inline-flex align-items-center justify-content-center">
                        <iconify-icon icon="lucide:edit"></iconify-icon>
                    </a>
                    <a href="{% url 'delete_employee' employee.pk %}"
                        class="w-32-px h-32-px bg-danger-focus text-danger-main rounded-circle d-inline-flex align-items-center justify-content-center">
                        <iconify-icon icon="mingcute:delete-2-line"></iconify-icon>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No employees found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>
  </div>
</div>

{% endblock content %}