{% extends 'master/base.html' %}
{% load static %}

{% block content %}

<div class="dashboard-main-body">
    {% include 'message.html' %}
  <div class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <h6 class="fw-semibold mb-0">All Order List</h6>
    <a href="{% url 'order_create' %}"
        class="btn btn-primary text-sm btn-sm px-12 py-12 radius-8 d-flex align-items-center gap-2">
        <iconify-icon icon="ic:baseline-plus" class="icon text-xl line-height-1"></iconify-icon>
        Add Order
      </a>
  </div>

  <div class="card basic-data-table">
    <div
      class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center flex-wrap gap-3 justify-content-between">
      <div class="d-flex align-items-center flex-wrap gap-3">
        <h5 class="card-title mb-0"></h5>
      </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table id="basic-datatables" class="display table table-striped table-hover table bordered-table mb-0">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Order ID</th>
                        <th>Customer Name</th>
                        <th>Customer Phone</th>
                        <th>Total Items</th>
                        <th>Total Pack Case</th>
                        <th>Tax</th>
                        <th>Discount</th>
                        <th>Total Amount</th>
                        <th>Order Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ order.order_no }}</td>
                        <td>{{ order.customer_user.customer_name }}</td>
                        <td>{{ order.customer_user.customer_phone }}</td>
                        <td>{{ order.total_items }}</td>
                        <td>{{ order.total_medicine_quantity }}</td>  <!-- Display total medicine quantity -->
                        <td>{{ order.tax }}</td>
                        <td>{{ order.discount }}</td>
                        <td>{{ order.total_price }}</td>
                        <td>
                            {% if order.order_status == 'Progress' %}
                            <span class="bg-warning-focus text-warning-main px-24 py-4 rounded-pill fw-medium text-sm">{{ order.order_status }}</span>
                            {% elif order.order_status == 'Delivered' %}
                            <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">{{ order.order_status }}</span>
                            {% else %}
                            <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">{{ order.order_status }}</span>
                            {% endif %}
                        </td>
                
                        <td>
                            <a href="{% url 'order_update' order.pk %}"
                                class="w-32-px h-32-px bg-success-focus text-success-main rounded-circle d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="lucide:edit"></iconify-icon>
                            </a>
                            <a href="{% url 'order_delete' order.pk %}"
                                class="w-32-px h-32-px bg-danger-focus text-danger-main rounded-circle d-inline-flex align-items-center justify-content-center">
                                <iconify-icon icon="mingcute:delete-2-line"></iconify-icon>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>

{% endblock content %}
