{% load static %}
<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethical Den - Inventory Management System</title>
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png' %}" sizes="16x16">
    <!-- remix icon font css  -->
    <link rel="stylesheet" href="{% static 'assets/css/remixicon.css' %}">
    <!-- BootStrap css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/bootstrap.min.css' %}">
    <!-- Apex Chart css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/apexcharts.css' %}">
    <!-- Data Table css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/dataTables.min.css' %}">
    <!-- Text Editor css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/editor-katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lib/editor.atom-one-dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lib/editor.quill.snow.css' %}">
    <!-- Date picker css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/flatpickr.min.css' %}">
    <!-- Calendar css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/full-calendar.css' %}">
    <!-- Vector Map css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/jquery-jvectormap-2.0.5.css' %}">
    <!-- Popup css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/magnific-popup.css' %}">
    <!-- Slick Slider css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/slick.css' %}">
    <!-- prism css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/prism.css' %}">
    <!-- file upload css -->
    <link rel="stylesheet" href="{% static 'assets/css/lib/file-upload.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lib/audioplayer.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
</head>

<body>
    {% include 'master/sidebar.html' %}

    <main class="dashboard-main">
        {% include 'master/navbar.html' %}

        
            
            {% block content %}
                
            {% endblock content %}
        {% include 'master/footer.html' %}
    </main>
    <!-- jQuery library js -->
    <script src="{% static 'assets/js/lib/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'assets/js/lib/bootstrap.bundle.min.js' %}"></script>
    <!-- Apex Chart js -->
    <script src="{% static 'assets/js/lib/apexcharts.min.js' %}"></script>
    <!-- Data Table js -->
    <script src="{% static 'assets/js/lib/dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/datatables/datatables.min.js' %}"></script>
    <!-- Iconify Font js -->
    <script src="{% static 'assets/js/lib/iconify-icon.min.js' %}"></script>
    <!-- jQuery UI js -->
    <script src="{% static 'assets/js/lib/jquery-ui.min.js' %}"></script>
    <!-- Vector Map js -->
    <script src="{% static 'assets/js/lib/jquery-jvectormap-2.0.5.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/jquery-jvectormap-world-mill-en.js' %}"></script>
    <!-- Popup js -->
    <script src="{% static 'assets/js/lib/magnifc-popup.min.js' %}"></script>
    <!-- Slick Slider js -->
    <script src="{% static 'assets/js/lib/slick.min.js' %}"></script>
    <!-- prism js -->
    <script src="{% static 'assets/js/lib/prism.js' %}"></script>
    <!-- file upload js -->
    <script src="{% static 'assets/js/lib/file-upload.js' %}"></script>
    <!-- audioplayer -->
    <script src="{% static 'assets/js/lib/audioplayer.js' %}"></script>

    <!-- Toast Alert -->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- jQuery (Required for Select2) -->

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet">

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <!-- Include SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Include SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    
    <!-- main js -->
    <script src="{% static 'assets/js/app.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>



    <script src="{% static 'assets/js/homeTwoChart.js' %}"></script>
    <script>
        let table = new DataTable('#dataTable');
    </script>

    <script>
        $(document).ready(function () {
          $("#basic-datatables").DataTable({});
          $("#basic-datatables2").DataTable({});
          $("#basic-datatables3").DataTable({});
          $("#basic-datatables4").DataTable({});
    
        });
      </script>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
            var orderChartData = {{ billing_chart_data|safe }};
    
            var options = {
                series: [{
                    name: 'Total Billings (₹)',
                    data: orderChartData.totals
                }],
                chart: {
                    type: 'area',
                    height: 270,
                    toolbar: { show: false }
                },
                dataLabels: { enabled: false },
                stroke: { curve: 'smooth', width: 3 },
                fill: { type: 'gradient', gradient: { shadeIntensity: 0.5, opacityFrom: 0.4, opacityTo: 0.1 } },
                markers: { size: 0 },
                xaxis: {
                    categories: orderChartData.dates,
                    labels: { style: { fontSize: "14px" } }
                },
                yaxis: {
                    labels: {
                        formatter: function (value) { return "₹" + value; },
                        style: { fontSize: "14px" }
                    }
                },
                tooltip: { x: { format: 'yyyy-MM-dd' } }
            };
    
            var chart = new ApexCharts(document.querySelector("#orderChart"), options);
            chart.render();
        });
    </script>

    
<script>

    // ================================ Users Overview Donut chart Start ================================ 
    var options = { 
        series: [{{ total_purchase_amount }}, {{ total_sale_amount }}],
        colors: ['#FF9F29', '#487FFF'],
        labels: ['Purchase', 'Sales'],
        legend: {
            show: false 
        },
        chart: {
            type: 'donut',    
            height: 270,
            sparkline: {
                enabled: true
            },
            margin: {
                top: 0, right: 0, bottom: 0, left: 0
            },
            padding: {
                top: 0, right: 0, bottom: 0, left: 0
            }
        },
        stroke: {
            width: 0,
        },
        dataLabels: {
            enabled: true
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: { width: 200 },
                legend: { position: 'bottom' }
            }
        }],
    };

    var chart = new ApexCharts(document.querySelector("#userOverviewDonutChart"), options);
    chart.render();
    // ================================ Users Overview Donut chart End ================================ 
  
    // ================================ Purchase & sale chart End ================================ 
    var options = {
      series: [{
        name: 'Net Profit',
        data: [44, 100, 40, 56, 30, 58, 50]
      }, {
        name: 'Free Cash',
        data: [60, 120, 60, 90, 50, 95, 90]
      }],
      colors: ['#45B369', '#FF9F29'],
      labels: ['Active', 'New', 'Total'] ,
      
      legend: {
          show: false 
      },
      chart: {
        type: 'bar',
        height: 260,
        toolbar: {
          show: false
        },
      },
      grid: {
          show: true,
          borderColor: '#D1D5DB',
          strokeDashArray: 4, // Use a number for dashed style
          position: 'back',
      },
      plotOptions: {
        bar: {
          borderRadius: 4,
          columnWidth: 8,
        },
      },
      dataLabels: {
        enabled: false
      },
      states: {
        hover: {
        filter: {
            type: 'none'
            }
        }
    },
      stroke: {
        show: true,
        width: 0,
        colors: ['transparent']
      },
      xaxis: {
        categories: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun'],
      },
      fill: {
        opacity: 1,
        width: 18,
      },
    };

    var chart = new ApexCharts(document.querySelector("#purchaseSaleChart"), options);
    chart.render();
  // ================================ Purchase & sale chart End ================================ 

</script>


</body>

</html>