{% load static %}

<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
      <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
      <a href="index.html" class="sidebar-logo">
        <img src="{% static 'assets/images/logo.png' %}" alt="site logo" class="light-logo">
        <img src="{% static 'assets/images/logo-light.png' %}" alt="site logo" class="dark-logo">
        <img src="{% static 'assets/images/logo-icon.png' %}" alt="site logo" class="logo-icon">
      </a>
    </div>
    <div class="sidebar-menu-area">
      <ul class="sidebar-menu" id="sidebar-menu">
        
        <li>
          <a href="{% url 'dashboard' %}">
            <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
            <span>Dashboard</span> 
          </a>
        </li>

        <li class="sidebar-menu-group-title">User Management</li>

        <li>
          <a href="{% url 'employee_list' %}">
            <iconify-icon icon="flowbite:users-group-outline" class="menu-icon"></iconify-icon>
            <span>Employees</span> 
          </a>
        </li>

        <li>
          <a href="{% url 'customer_list' %}">
            <iconify-icon icon="fe:users" class="menu-icon"></iconify-icon>
            <span>Customers</span> 
          </a>
        </li>

        <li class="sidebar-menu-group-title">Product Management</li>
        <li>
          <a href="{% url 'medicine_category_list' %}">
            <iconify-icon icon="mdi:syringe" class="menu-icon"></iconify-icon>
            <span>Medicine Category</span> 
          </a>
        </li>
        <li>
          <a href="{% url 'medicine_list' %}">
            <iconify-icon icon="mdi:medicine" class="menu-icon"></iconify-icon>
            <span>Medicines</span> 
          </a>
        </li>

        <li>
          <a href="{% url 'medicine_stock_list' %}">
            <iconify-icon icon="mdi:warehouse" class="menu-icon"></iconify-icon>
            <span>Medicine Stocks</span> 
          </a>
        </li>
        <li>
          <a href="{% url 'low_stocks' %}">
            <iconify-icon icon="mdi:warning" class="menu-icon"></iconify-icon>

            <span>Low Stocks</span> 
          </a>
        </li>
        
        <li>
          <a href="{% url 'bottle_breakage_list' %}">
            <iconify-icon icon="mdi:glass-fragile" class="menu-icon"></iconify-icon>
            <span>Bottle Breakage</span> 
          </a>
        </li>   

        <li class="sidebar-menu-group-title">Order Management</li>
        <li>
          <a href="{% url 'order_list' %}">
            <iconify-icon icon="mdi:cart" class="menu-icon"></iconify-icon>

            <span>Orders</span> 
          </a>
        </li>   
        <li>
          <a href="{% url 'invoice_list' %}">
            <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
            <span>Invoice</span> 
          </a>
        </li>   

        
      </ul>
    </div>
  </aside>